.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  background-color: $c-white-off;

  position: absolute;
  transition: color 0.15s ease, border-color 0.15s ease;

  .card__cover {
    position: fixed;
    z-index: 1000000;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: opacity 0.3s ease;
  }

  .card__wrapper {
    z-index: 99999;
    width: 80px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;

    .container__btn {
      position: absolute;
      top: 20px;
      right: 30px;
    }
  }

  .card__content {
    min-width: 99%;
    min-height: 100vh;
    padding: 5%;

    position: absolute;
    left: 0;
    top: 10%;

    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr;
    column-gap: 10px;
    text-align: left;
    background-color: $c-white-off;
    border-radius: 20px;
    transition: all 0.3s ease;
    font-family: inherit;
  }

  &::hover,
  &:focus,
  &:active {
    color: #0070f3;
    border-color: #0070f3;
  }

  h2 {
    margin: 0 0 1rem 0;
    font-size: 1.5rem;
  }

  p {
    margin: 0;
    font-size: 1.25rem;
    line-height: 1.5;
  }
}
