.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  background-color: $c-white-off;

  position: absolute;
  transition: color 0.15s ease, border-color 0.15s ease;

  .card__cover {
    position: fixed;
    z-index: 1000000;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: opacity 0.3s ease;
  }

  .card__wrapper {
    z-index: 99999;
    width: 80px;

    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr;
    column-gap: 10px;

    .container__btn {
      position: absolute;
      top: 20px;
      right: 30px;
    }

    // This is the white background that appears to slide up from the bottom
    .card__content {
      width: 100vw;
      // max-width: 100vw;
      // min-height: 100vh;
      max-height: 100%;
      padding: 1.5rem;

      overflow-y: scroll;

      position: absolute;
      left: 0;
      top: 10%;
      bottom: 0;

      // display: grid;
      // grid-template-columns: 50% 50%;
      // grid-template-rows: 1fr;
      // column-gap: 20px;

      text-align: left;
      background-color: $c-white-off;
      border-radius: 20px 20px 0 0;
      transition: all 0.3s ease;
      font-family: inherit;
      animation: slide-up 0.3s ease;

      @keyframes slide-up {
        0% {
          transform: translateY(100%);
        }
        100% {
          transform: translateY(0);
        }
      }
    }
  }
}
