// import variables
@import 'variables';

$font-title: freight-sans-pro, serif;
$font-main: freight-sans-pro, sans-serif;

// === MIXINS ===
@mixin body-regular {
  font-family: freight-sans-pro, sans-serif;
  font-weight: 400;
  font-style: normal;
}

@mixin body-regular-ar {
  font-family: bressay-display-arabic, sans-serif;
  font-weight: 400;
  font-style: normal;
}

@mixin heading {
  font-family: freight-sans-pro, sans-serif;
  font-weight: 500;
  font-style: normal;
}

// === WEB ===
h1 {
  @include heading;
  font-size: 36px;
  line-height: 40px;
}

h2 {
  @include heading;
  font-size: 24px;
  line-height: auto;
}

h3 {
  @include heading;
  font-size: 20px;
  line-height: auto;
}

h6 {
  @include heading;
  font-size: 16px !important;
  line-height: auto;
  color: $c-primary-dark;
}

p,
pre {
  @include body-regular;
  font-size: 14px;
  line-height: 20px;
}

ul {
  @include body-regular;
  font-size: 16px;
  line-height: 19px;
}

ol {
  @include body-regular;
  font-size: 16px;
  line-height: 19px;
}

small {
  @include body-regular;
  font-size: 12px !important;
  line-height: 19px;
}

a {
  color: $c-primary-dark;
}

// === MOBILE ===
@media (max-width: 600px) {
  h1 {
    font-size: 18px;
    line-height: 18px;
  }
  p,
  pre,
  label {
    @include body-regular;
    font-size: 12px;
    line-height: auto;
  }
  li {
    @include body-regular;
    font-size: 12px;
    line-height: 20px;
  }
}

// === EXHIBIT SCREEN ===
@media (min-width: 1500px) {
  h1 {
    @include heading;
    font-size: calc(36px * 1.5);
    line-height: 60px;
  }

  h2 {
    @include heading;
    font-size: calc(24px * 1.5);
    line-height: 50px;
  }

  h3 {
    @include heading;
    font-size: calc(20px * 1.5);
    line-height: 35px;
  }

  h6 {
    @include heading;
    font-size: calc(16px * 1.5) !important;
    line-height: 28px;
  }

  p,
  pre,
  label {
    @include body-regular;
    font-size: calc(14px * 1.5);
    line-height: 25px;
  }

  ul {
    @include body-regular;
    font-size: calc(14px * 1.5);
    line-height: 25px;
  }

  ol {
    @include body-regular;
    font-size: calc(14px * 1.5);
    line-height: 25px;
  }

  small {
    @include body-regular;
    font-size: calc(12px * 1.5) !important;
    line-height: 21px;
  }
}
