// === COLORS

// === COLORS PRIMARY
// -----------------
$c-primary-dark: #471e10;
$c-primary-mid: #9c6340;
$c-primary-light: #c4a18c;

// ===COLORS CRAFTS
// -----------------
$c-architectural: #91B0D1;
$c-cuisine: #DFBA96;
$c-decorative: #88A384;
$c-fashion: #DEC2B4;
$c-functional: #72A1AB;
$c-furniture: #9F8278;
$c-textiles: #EACC74;

// === COLORS ACCENT
// -----------------
$c-accent-dark: #85cbd4;
$c-accent-light: #bad2da;

// === SHADES OF GRAY
// -----------------
$c-black: #333333;
$c-white: #ffffff;
$c-white-off: #faf8f6;
$c-grey-dark: #cfcfcf;
$c-grey-mid: #cfcfcf;
$c-grey-light: #f1f1ec;

// === LINK COLOR
// -----------------
$c-link: $c-accent-dark;

// STATUS
// -----------------
$color-error: #780000;
$color-success: $c-accent-light;

// SIZES
// -----------------
$content-width-pc: 1298px;
$content-width-mobile: 100vw;

$header-height: 80px;
$footer-height: 480px;
$card-width: 450px;

$section-card-width: 692px;
$section-card-width-mobile: 96vw;
