// === COLORS

// === COLORS PRIMARY
// -----------------
$c-primary-dark: #471e10;
$c-primary-mid: #9c6340;
$c-primary-light: rgba(196, 161, 140, 0.3);

// ===COLORS CRAFTS
// -----------------
$c-architectural: rgba(145, 176, 209, 0.7);
$c-cuisine: rgba(223, 186, 150, 0.7);
$c-decorative: rgba(136, 163, 132, 0.7);
$c-fashion: rgba(222, 194, 180, 0.7);
$c-functional: rgba(114, 161, 171, 0.7);
$c-furniture: rgba(159, 130, 120, 0.7);
$c-textiles: rgba(234, 204, 116, 0.7);
$c-none: #dfd6ca;

// === COLORS ACCENT
// -----------------
$c-accent-dark: #85cbd4;
$c-accent-light: #bad2da;

// === SHADES OF GRAY
// -----------------
$c-black: #333333;
$c-white: rgba(255, 255, 255, 0.66);
$c-white-off: #faf8f6;
$c-grey-dark: #cfcfcf;
$c-grey-mid: #cfcfcf;
$c-grey-light: #f1f1ec;

// === LINK COLOR
// -----------------
$c-link: $c-accent-dark;

// STATUS
// -----------------
$color-error: #780000;
$color-success: $c-accent-light;

// SIZES
// -----------------
$content-width-pc: 1298px;
$content-width-mobile: 100vw;

$header-height: 80px;
$footer-height: 480px;
$card-width: 450px;

$section-card-width: 692px;
$section-card-width-mobile: 96vw;

// TABLE COLORS
$c-orange-1: #ead8d3;
$c-orange-2: #d4b2a6;
$c-orange-3: #bf8b7a;
$c-orange-4: #a9654e;
$c-orange-5: #933e21;
$c-orange-6: #6f2f19;
$c-orange-7: $c-primary-dark;