.about-wrap {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 80px);
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  row-gap: 30vh;
  .about-container {
    scroll-snap-align: start;
    min-height: calc(100vh - 60px);
    max-height: calc(100vh - 60px);
    // border: 1px solid black;
    display: flex;
    flex-direction: row;
    color: $c-primary-dark;
    padding: 0 1.5rem;
    position: relative;

    @media (max-width: 770px) {
      flex-direction: column;
      max-height: none;
    }

    .about-subcontainer {
      width: 50%;
      flex: 0 0 auto;
      @media (max-width: 770px) {
        width: 100%;
      }
    }

    h3 {
      font-weight: 700;
    }

    p {
      margin: 0;
    }

    .text-container {
      padding: 2rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      row-gap: 2rem;
      flex: 0 0 auto;

      width: calc(100% * 4 / 12);

      @media (max-width: 770px) {
        width: 100%;
      }
    }

    .text-container.bleed {
      padding: 3.5rem;
    }

    .about-image-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 2rem;
      // width: 100%;
      flex: 0 0 auto;
      width: calc(100% * 8 / 12);
      @media (max-width: 770px) {
        width: 100%;
      }

      img {
        height: 90%;
        object-fit: contain;
        aspect-ratio: 16/9;
      }

      .credit-grid {
        margin-top: 1rem;
        h3 {
          font-size: 1.25rem;
        }
        display: grid;
        grid-template-columns: 1fr 1fr;
        // grid-template-rows: 1fr 1fr;
        row-gap: 1rem;
        column-gap: 1rem;
      }

      .logos {
        margin-top: 1rem;
        display: flex;
        flex-direction: row;
        width: 100%;
        column-gap: 2rem;
        img {
          flex: 1 1 0;
          width: 0;
        }
      }
    }

    .about-image-container.bleed {
      padding: 0;
    }
  }
  .about-container.bleed {
    scroll-snap-align: start;

    padding: 0;
  }

  .workshop-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 0.5rem;
    column-gap: 0.5rem;

    .grid-space {
      aspect-ratio: 1;

      .grid-img {
        object-fit: cover;
        height: 100%;
        width: 100%;
        filter: grayscale(100%);
        opacity: 0.8;
        transition: all 0.5s ease-in;
      }

      .grid-img.active {
        filter: grayscale(0%);
        transition: all 0.5s ease-out;
        opacity: 1;
      }
    }
  }

  .archive-slide {
    filter: drop-shadow(8px 8px 4px rgba(0, 0, 0, 0.25));
  }
}

.about-menu-btn {
  position: fixed;
  height: 24px;
  width: 24px;
  top: 50%;
  right: 1rem;
  color: $c-primary-dark;
}

.about-menu {
  height: calc(100vh - 80px);
  position: fixed;
  bottom: 0px;
  background: rgba(250, 248, 246, 0.7);
  backdrop-filter: blur(10px);
  width: min(600px, 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;

  .container {
    display: grid;
    grid-template-columns: 0.25rem auto;
    grid-template-rows: auto auto;
    //row-gap: 5px;
    column-gap: 10px;
    // height: 70px;
    position: relative;

    cursor: pointer;
  }

  .container:hover .item-line {
    display: block;
  }

  .container:hover .item-text-2 {
    display: block;
    padding: 0 1rem;
    visibility: visible;
    opacity: 1;
  }

  .item-line {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    background: $c-primary-dark;
    display: none;
    transition: 0.3s;
  }

  .item-text-1 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    line-height: 10px;
  }

  .about-item {
    color: $c-primary-dark;
    display: block;
    font-size: 2rem;
    font-weight: 500;
    padding: 1rem 1rem;
    text-decoration: none;
    text-transform: uppercase;
  }
}

.about-menu.inactive {
  right: max(-600px, -100%);
  transition: right 0.5s linear;
}

.about-menu.active {
  right: 0;
  transition: right 0.5s linear;
}

.close-about-menu {
  height: 24px;
  width: 24px;
  position: absolute;
  top: 3.5rem;
  right: 3.5rem;
  color: $c-primary-dark;
}
