.Contribute {
  background-color: $c-white;
  margin: 20px 30px 0 30px;
  padding: 1rem;
  //   height: min(700px, 100vh);
  display: flex;
}

.Contribute-index {
  display: flex;
  padding: 1rem 0;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 1.5rem;
}

.Contribute-modal {
  min-width: 99%;
  // min-height: 100vh; 
  max-height: 100%;
  padding: 1.5rem;

  overflow-y: scroll;

  position: absolute;
  left: 0;
  top: 10%;
  bottom: 0;

  text-align: left;
  background-color: $c-white-off;
  border-radius: 20px 20px 0 0;
  transition: all 0.3s ease;
  animation: slide-up 0.3s ease;
  
  h2{
    line-height: normal;
  }

  @keyframes slide-up {
    0% {
      transform: translateY(100%);
    }
    100% {
      transform: translateY(0);
    }
  }
}

.Contribute-types {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
  width: 100%;
}

.Contribute-type-select {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: left;
  line-height: 1;
  background-color: $c-white-off;
  gap: 1.5rem;
  color: $c-primary-dark;
  padding: 3rem 2rem 2rem 2rem;
  text-decoration: none;
  border: none;
  box-shadow: 4px 4px 10px 2px rgba(51, 51, 51, 0.1);
  border-radius: 3px;
  transition: all 0.2s ease-in-out;
}

.Contribute-type-select:hover {
  background-color: $c-grey-light;
  // box-shadow: none;
  cursor: pointer;
}

.Contribute-type-select:disabled {
  background-color: $c-primary-dark;
  color: $c-white-off;
  // cursor: default;
}

.Contribute-type-select a {
  // background-color: white;
  color: $c-primary-light;
}

.Contribute-type-select a:hover {
  // color: red;
  text-decoration: underline;
}

.Contribute-type-submit {
  background-color: $c-primary-dark;
  margin-top: 1rem;
  max-width: fit-content;
  text-decoration: none;
  border: none;
  border-radius: 50px;
  padding: 0.75rem 4rem;
  color: $c-white-off;
  transition: background-color 0.1s ease-in-out;
}

.Contribute-type-submit:hover {
  background-color: $c-primary-mid;
  cursor: pointer;
}

.Contribute-type-submit:disabled {
  background-color: $c-primary-light;
  cursor: default;
}

.Contribute-modal-options {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem;

  button {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .Contribute-index {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .Contribute-types {
    flex-direction: row;
    max-width: 1000px;
  }

  .Contribute-modal-options {
    justify-content: flex-start;

    button {
      width: inherit;
    }
  }
}
