.Contribute {
  background-color: $c-white;
  //margin: 20px 30px 0 30px;
  //max-width: 1500px;
  // padding: 1rem;
  //   height: min(700px, 100vh);
  display: flex;
  //max-width: 100%;
  height: 100%;
  position: relative;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  margin: 0px;

  @media screen and (min-width: 651px) and (max-width: 991px) {
    height: 60%;
  }


}

.Contribute-container{
  margin:auto;
  min-height: 90vh;
  width: 90vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  padding: 40px;
  @media screen and (max-width: 650px) {
    padding: 20px;
  }
}

.Contribute-image {
  background-color: #85cbd4;
  width: 100%;
  height: 100%;
}

.Contribute-index {
  display: flex;
  //padding: 2rem;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height:100%;
  //gap: 1.5rem;
}

.Contribute-landing-text-container {
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;

  @media screen and (max-width: 650px) {
    //padding: 1rem;
  }
}

.contribute-landing-text-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  line-height: 40px;

}


.Contribute-landing-title {
  font-family: $font-main;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 31px;
  //text-align: center;
  text-transform: uppercase;
  color: $c-primary-dark;
}

.Contribute-landing-text {
  font-family: $font-main;
  font-style: normal;
  font-weight: 350;
  font-size: 14px;
  line-height: 18px;
  color: $c-primary-dark;
}

.Contribute-modal {
  min-width: 99%;
  // min-height: 100vh;
  max-height: 100%;
  padding: 1.5rem;

  overflow-y: scroll;

  position: absolute;
  left: 0;
  top: 10%;
  bottom: 0;

  text-align: left;
  background-color: $c-white-off;
  border-radius: 20px 20px 0 0;
  transition: all 0.3s ease;
  animation: slide-up 0.3s ease;

  h2 {
    line-height: normal;
  }

  @keyframes slide-up {
    0% {
      transform: translateY(100%);
    }
    100% {
      transform: translateY(0);
    }
  }
}

.boolean-button-form {
  //max-width: 700px;
  padding: 0;
  div {
    //display: inline-block;
  }
}

.Contribute-types {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  //gap: 1.5rem;
  align-items: center;
  width: 100%;
  //margin: 1rem;
}

.Contribute-landing-divider {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.half-hr {
  width: 40%;
}

.Contribute-type-select {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 90%;
  text-align: left;
  line-height: 1;
  background-color: $c-white-off;
  //gap: 1.5rem;
  color: $c-primary-dark;
  //padding: 3rem 2rem 2rem 2rem;
  text-decoration: none;
  border: none;
  box-shadow: 4px 4px 10px 2px rgba(51, 51, 51, 0.1);
  border-radius: 3px;
  transition: all 0.2s ease-in-out;
  margin: 12px;
  padding: 16px;
}

.Contribute-type-select:hover {
  background-color: $c-grey-light;
  // box-shadow: none;
  cursor: pointer;
}

.Contribute-type-select:disabled {
  background-color: $c-primary-dark;
  color: $c-white-off;
  // cursor: default;
}

.Contribute-info-link {
  // background-color: white;
  color: $c-primary-light;
  cursor: default;
}

.Contribute-info-link:hover {
  // color: red;
  text-decoration: underline;
  cursor: default;
}

.Contribute-type-submit-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.Contribute-type-submit {
  background-color: $c-primary-dark;
  margin-top: 1rem;
  max-width: fit-content;
  text-decoration: none;
  border: none;
  border-radius: 50px;
  padding: 0.75rem 4rem;
  color: $c-white-off;
  transition: background-color 0.1s ease-in-out;
}

.Contribute-type-submit:hover {
  background-color: $c-primary-mid;
  cursor: pointer;
}

.Contribute-type-submit:disabled {
  background-color: $c-primary-light;
  cursor: default;
}

.Contribute-modal-options {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem;

  button {
    width: 100%;
  }
}

.WorkshopAboutForm,
.ArchiveAboutForm, {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 24px;

  h2 {
    //margin-bottom: 2rem;
  }

  .sections {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;


    .section {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      padding: 16px;
      width: 30%;

      .subsection {
        padding: 16px;
      }

      div {
        display: flex;
        flex-direction: column;
        gap: 0.25rem;
      }
    }
  }
}

.LocationForm,
.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 24px;

  h2 {
    //margin-bottom: 2rem;
  }

  .sections {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-height: 100%;


    .section {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      padding: 16px;
      width: 30%;
      flex: 1 1 0;
      max-height: 100%;

      .subsection {
        padding: 16px;
      }

      div {
        display: flex;
        flex-direction: column;
        gap: 0.25rem;
      }
    }
  }
}



@media (min-width: 768px) {
  .Contribute-index {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .Contribute-types {
    flex-direction: column;
    max-width: 1000px;
  }

  .Contribute-modal-options {
    justify-content: flex-start;

    button {
      width: inherit;
    }
  }


.previewForm {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 24px;

  h2 {
    //margin-bottom: 2rem;
  }



  .sections {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    //max-height: 100%;


    .section {
      //display: flex;
      //flex-direction: column;
      //justify-content: flex-start;
      padding: 32px;
      //width: 30%;
      //flex: 1 1 0;
      //max-height: 100%;


    }
  }
}

  .WorkshopAboutForm,
  .ArchiveAboutForm {
    // min-width: 60vw;

    min-height: 100%;

    .sections {
      width: 100%;
      flex-direction: row;
      //gap: 3rem;
      justify-content: space-between;

      input {
        //min-width: 200px;
      }
    }
  }
}

.UploadedImage {
  aspect-ratio: 1;
  background-color: $c-grey-light;
  color: hsl(0, 0%, 45%);
  // height: 100%;
  // width: 100%;
  // display: flex;
  // flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  font-size: small;
  border-radius: 5px;
  margin: 10px;
  :only-child {
    // background-color: black;
    padding: 5px;
  }
}

.Contribute-form-section-heading {
  font-family: $font-main;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #AEAEAE;
  text-transform: uppercase;
}

.stick {
  position: sticky;
  top: 80px;
  background-color: $c-white;
}

.form-title {
  padding-left: 32px;
}

.vr {
  color: #AEAEAE;
}

.Image-tags-container {
  display: flex;
  flex-direction: column;
  //flex-wrap: wrap;
  justify-content: space-between;
  //align-items: center;
  padding: 48px;

}

.sm-padding {
  //padding: 8px;
}

.ImageUploadForm {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.image-upload-container {
  padding: 48px;
}


.preview-card {
  background-color: $c-white-off;
  box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.2);
  width: 100%;
  min-height: 50vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 16px;
}

.CraftTypeForm {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 24px;

  h2 {
    //margin-bottom: 2rem;
  }

  .sections {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-height: 100%;


    .section {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 16px;
      //width: 30%;
      //flex: 1 1 0;
      max-height: 100%;

      .subsection {
        padding: 16px;
      }

      div {
        display: flex;
        flex-direction: column;
        //gap: 0.25rem;
      }
    }
  }
}
