.image-feed {
  display: block;
  width: 100vw;
  max-width: $content-width-pc;
  padding: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 200px);
  grid-gap: 1rem;
  align-items: center;
  justify-content: center;
  direction: ltr;

  @media screen and (min-width: 400px) and (max-width: 500px) {
    padding:0px;
    width: 100%;
    display: grid;
    grid-template-columns: 180px 180px;
    //grid-gap: 5px;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    grid-gap: 0.5rem;
  }

  @media screen and (max-width: 400px){
    padding:0px;
    width: 100%;
    display: grid;
    grid-template-columns: 150px 150px;
    //grid-gap: 5px;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    grid-gap: 0.5rem;
  }



  // &:hover {
  //   .img-preview:not(:hover) {
  //     transition: all 0.2s ease-in-out;
  //     filter: grayscale(50%) brightness(0.8);
  //   }
}

  .image-container {
    height: 200px;
    width: 200px;

    @media screen and (min-width:400px) and (max-width: 500px) {
      height: 180px;
      width: 180px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
    @media screen and (max-width:400px)  {
      height: 150px;
      width: 150px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
  }


  .filter-section {
    padding: 4px;
  }

.image-filter-btn {

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  column-gap: 10px;
  ;

  @media screen and (max-width: 688px) {
    position: fixed;
    z-index: 3;
    height: 48px;
    width: 48px;
    border-radius: 50%;
    margin: 8px;
    bottom: 5%;
    left: 80%;
    background-color: $c-white;
    border-width: 2px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-shadow: 4px 4px 10px 2px rgba(51, 51, 51, 0.1);
  }
}

.image-text-container {
  padding-top: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  row-gap: 24px;


}

.img-preview {
  position: relative;
  width: 100%;
  height: 100%;
  // min-width: 200px;
  // min-height: 200px;
  background-color: $c-primary-light;
  cursor: pointer;

  &:hover {
    transition: all 0.2s ease-in-out;
    transform: scale(1.05);
  }
  .ImageFilter {
    position: relative;
    width: 100%;
    height: 100%;

    & svg image {
    display: block;
    width: 100%;
    object-fit: cover;
    }
  }

  .overlay {
    pointer-events: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    padding: 20px;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    color: $c-white;

    p {
      font-weight: 800;
    }

    &.fill {
      background-color: $c-primary-dark;
      mix-blend-mode: overlay;
    }
  }

  &:hover .overlay {
    transition: all 0.2s ease-in-out;
    opacity: 1;
  }
}

.shop-icon {
  right:0px;
  top:0px;
  position: absolute;
  padding: 6px;
  color: white;
}

.container__preview-content {
  height: 100%;
  width: 100%;
  padding: 24px;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .img__detail {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .container__text {
    width: 100%;
    //min-height: 30%;
    color: $c-primary-dark;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    h1 {
      padding-bottom: 3px;
      font-weight: bold;
    }

    p {
      font-style: normal;
      font-weight: 350;
      font-size: 14px;
      line-height: 18px;
    }

    .type {
      text-transform: capitalize;
      margin-bottom: 20px;
    }

    b {
      font-weight: bold;
      cursor: pointer;
    }
  }

  .container__map {
    width: 100%;
    //min-height: 30%;

    p {
      padding-bottom: 10px;
    }

    .map {
      cursor: pointer;
      width: 100%;
      background-color: $c-grey-dark;
      height: 80%;
      border-radius: 10px;
    }
  }

  .container__suggestion {
    width: 100%;
    //height: 30%;
    position: relative;

    p {
      padding-bottom: 10px;
    }

    .parent {
      width: 100%;
      position: absolute;
      bottom: 0;

      .container__img {
        display: inline-block;
        height: 120px;
        width: 120px;
        margin-right: 10px;
      }
    }
  }
}

.detach {
  position: sticky !important;
  top: 3rem;
  top: 3rem;
}

.image-filter-container {
  width: 100%;
  left:0px;
  padding: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  border: 0.25px solid $c-grey-mid;
  box-shadow: 5px 10px 20px rgba(166, 166, 166, 0.2);
  z-index: 10;
  background-color: $c-white-off;


  @media screen and (min-width: 688px) and (max-width: 992px) {
    flex-wrap: wrap;

  }

  @media screen and (max-width: 688px) {

      border-radius: 10px 10px 0px 0px;
      background-color: $c-white-off;
      position: fixed;
      margin: 0px;
      padding: 24px;
      max-height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      bottom: 0px;
      left: 0px;
      width: 100%;
      height: 70%;
      z-index: 3;

  }
}



.image-filter-section {
  flex: 1 1 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 1rem;

  @media screen and (max-width: 688px) {
    padding: 0px;
  }

}

.image-filter-section-reset {
  flex: 1 1 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  align-items: center;
}

.image-filter-toggle-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.image-filter-section-col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 24px;
  height: 100%;
}


.discover-text {
  color: $c-primary-dark;
}


.discover-card {
  padding: 2rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}












