.arrow-down {
  position: fixed;
  width: 0;
  height: 0;
  border-left: 16px solid transparent;
  border-right: 16px solid transparent;
  border-top: 16px solid $c-white-off;
  bottom: 18%;
  left: 5%;
}

.filterButton {
  height: 48px;
  width: 48px;
  border-radius: 50%;
  margin: 8px;
}

.filterSection {
  position: fixed;
  bottom: 5%;
  left: 4%;
  border: none;

  @media screen and (max-width: 688px) {
    display: flex;
    flex-direction: column;
    left: 80%;


  }

}



.searchbar {
  width: 360px;
  position: fixed;
  right: 3%;
}
