.container__landing {
  padding: 0 0;

  .video__landing {
    height: calc(100vh - 60px) !important;
    display: flex;
    flex-direction: row;
  }

  .subcontainer__landing {
    height: calc(100vh - 80px);
    display: flex;
    flex-direction: row;
    padding: 0 2rem 1rem;

    @media (max-width: 770px) {
      flex-direction: column-reverse;
      row-gap: 1rem;
      justify-content: space-evenly;
    }

    .landing_text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      row-gap: 1rem;

      h3 {
        color: ($c-primary-dark);
        font-weight: 700;
      }
    }

    .grid_container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: end;
      .window_grid {
        position: relative;
        aspect-ratio: 3425/2465;
        width: 90%;
        .landing_window {
          position: absolute;
          object-fit: cover;
          filter: grayscale(100%);
          transition: filter 0.25s ease-in;
          pointer-events: auto;
        }

        .landing_window.active {
          filter: grayscale(0%);
          transition: filter 0.25s ease-out;
        }

        .image_cover {
          position: absolute;
          background: ($c-primary-dark);
          opacity: 1;
          mix-blend-mode: screen;
          transition: background-color 0.25s ease-in;
        }

        .image_cover.active {
          opacity: 0;
          background: none;
          transition: all 0.25s ease-out;
        }

        .static_cover {
          position: absolute;
          filter: grayscale(100%);
          opacity: 100%;
          transition: all 0.25s ease-out;
        }
        .static_cover.active {
          position: absolute;
          filter: grayscale(0%);
          opacity: 0;
          transition: all 0.25s ease-in;
        }
      }
    }
  }
}
