body {
  background: linear-gradient(0deg, rgba(156,99,64,0.7) 0, $c-white-off 20vh);
}

.container__landing {
  padding: 0 2rem;

  .container__title {
    padding: 4rem 0;
  }

  .title {
    padding-bottom: 20px;
    text-align: left;
    font-family: campaign, sans-serif;
    font-weight: 700;
    font-size: 60px;
    line-height: 80px;
    font-style: normal;
    color: $c-primary-dark;
  }

  .container-text {
    max-width: 400px;

    .bold {
      font-weight: bold;
    }
  }

  .col-0 {
    display: none!important;
  }
  // bootstrap sm
  @media (min-width: 576px) {
    .col-sm-0 {
      display: none!important;
    }
    .align-sm-top {
      vertical-align: top!important;
    }
    .align-sm-middle {
      vertical-align: middle!important;
    }
    .align-sm-bottom {
      vertical-align: bottom!important;
    }
  }
  // bootstrap md
  @media (min-width: 768px) {
    .col-md-0 {
      display: none!important;
    }
    .align-md-top {
      vertical-align: top!important;
    }
    .align-md-middle {
      vertical-align: middle!important;
    }
    .align-md-bottom {
      vertical-align: bottom!important;
    }
  }
  // bootstrap lg
  @media (min-width: 992px) {
    .col-lg-0 {
      display: none!important;
    }
    .align-lg-top {
      vertical-align: top!important;
    }
    .align-lg-middle {
      vertical-align: middle!important;
    }
    .align-lg-bottom {
      vertical-align: bottom!important;
    }
  }
  // bootstrap xl
  @media (min-width: 1200px) {
    .col-xl-0 {
      display: none!important;
    }
    .align-xl-top {
      vertical-align: top!important;
    }
    .align-xl-middle {
      vertical-align: middle!important;
    }
    .align-xl-bottom {
      vertical-align: bottom!important;
    }
  }
  // bootstrap xxl
  @media (min-width: 1400px) {
    .col-xl-0 {
      display: none!important;
    }
    .align-xxl-top {
      vertical-align: top!important;
    }
    .align-xxl-middle {
      vertical-align: middle!important;
    }
    .align-xxl-bottom {
      vertical-align: bottom!important;
    }
  }
}

.landing-nav {
  color: $c-primary-dark;

  .nav-item, a {
    transition: all linear 0.3s;
  }

  .nav-item {
    border-left: solid transparent 2px;
  }
  .nav-item:hover {
    border-left: solid $c-primary-mid 2px;
  }

  a {
    color: $c-primary-dark;
    text-decoration: none;
  }
  a:hover {
    color: $c-primary-mid;
  }

  h3 {
    text-transform: uppercase;
    font-weight: 700;
  }
}

.heroicon {
  path {
    stroke-width: 0.75!important;
  }

  &.en {
    float: right;
  }
  &.ar {
    float: left;
  }
}