.container-home {
  // background-color: red;
  margin-left: 90px;
  // max-width: 800px;
  width: 100vw;
  justify-content: flex-start;
  align-items: flex-start;

  .container-title {
    padding-bottom: 40px;

    .title {
      padding-bottom: 20px;
      text-align: left;
      font-family: bely, serif;
      font-weight: 700;
      font-style: normal;
      color: $c-primary-dark;
    }
  }

  .container-text {
    max-width: 400px;

    .bold {
      font-weight: bold;
    }
  }

  .bubble-background {
    width: 100vw;
    height: 100vh;
    position: fixed;

    background-color: $c-primary-dark;
    border-radius: 50%;
    filter: blur(300px);
    z-index: -1;
  }
}
