.image-feed {
  display: block;
  width: 100vw;
  max-width: $content-width-pc;
  padding: 0 30px;
  display: grid; /* 1 */
  grid-template-columns: repeat(auto-fill, 200px); /* 2 */
  // grid-gap: 0.5rem; /* 3 */
  align-items: center;
  justify-content: space-between; /* 4 */

  .img-preview {
    width: 200px;
    height: 200px;
    background-color: $c-primary-light;
    margin: 12px;

    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 200px;
      height: 200px;
      object-fit: cover;
    }
  }
}
