.SingleImageUpload {
  position: relative;
  aspect-ratio: 1;
}

.SingleImageUpload button {
  position: absolute;
  color: $c-primary-dark;
  //top: -0.5em;
  //right: -0.5em;
  //width: 1.5em;
  z-index: 1;
  cursor: pointer;
  background-color: transparent;
  border: none;
  transition: transform 0.1s ease-in-out;
  //padding: 24px;
}

.SingleImageUpload button:hover {
  transform: scale(1.1);
}

.SingleImageUpload label{
  background-color: $c-grey-light;
  color: hsl(0, 0%, 45%);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  font-size: small;
  border-radius: 5px;

}

.SingleImageUpload img {
  width: 100%;
  //max-width: 300px;
  height: 100%;
  object-fit: cover;
}

.SingleImageUpload input {
  display: none;
}

.SingleImageUpload-default {
  padding: 1rem;
  align-items: center;
}

//.ImageUploadForm h2 {
//  margin-bottom: 1.5rem;
//}

//.ImageUploadForm span {
//  display: flex;
//  flex-wrap: wrap;
//  gap: 1.5rem;
  // height: min-content;
//}

//.ImageUploadForm div {
//  display: flex;
//  flex-direction: column;
//  gap: 0.5rem;
//  width: 100%;
//}

.ImageUploadForm textarea {
  height: 5rem;
  padding: 0.4rem;
  background-color: $c-white-off;
  border-color: $c-grey-light;
  border-radius: 3px;
  resize: none;
}

@media (min-width: 768px) {
  .ImageUploadForm div {
    width: inherit;
  }

  .ImageUploadForm textarea {
    height: 100%;
  }
}

.WorkshopImageForm {
  display: flex;
}