.header {
  // z-index: 10000;
  position: sticky;
  top: 0;
  left: 0;

  width: 100vw;
  max-width: $content-width-pc;
  height: $header-height;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  background: $c-white-off;

  &.dark {
    background-color: $c-primary-dark;
  }

  @media (max-width: 600px) {
    width: 100%;
    margin: 0;
  }
}

.nav {
  height: 100%;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;

  background-color: $c-primary-dark;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  ul {
    list-style-type: none;

    li {
      font-family: freight-sans-pro, sans-serif;
      font-weight: 500;
      font-style: normal;
      font-size: 36px;

      padding-bottom: 48px;
    }
  }

  a {
    text-decoration: none;
    color: $c-primary-light;
  }
}

.container-logo {
  position: absolute;
  left: 30px;
  top: 20px;

  display: flex;
  flex-direction: row;
  justify-items: center;
  align-items: center;

  a {
    color: $c-primary-dark;
    text-decoration: none;
  }

  .logo-icon {
    width: 30px;
    height: 30px;
    margin-right: 5px;

    &.dark {
      background-color: $c-primary-dark;
    }

    &.light {
      background-color: $c-primary-light;
    }
  }

  .logo-text {
    height: 30px;
    margin-right: 10px;
  }
}

.container-lang {
  position: absolute;
  right: 60px;
  top: 24px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  .btn-language {
    margin-right: 15px;

    &.active small {
      text-decoration: underline;
    }

    &.dark {
      color: $c-primary-dark;
    }

    &.light {
      color: $c-primary-light;
    }

    @media (max-width: 600px) {
      small {
        font-size: 20px;
      }
    }
  }
}

.page-location {
  font-family: FreightSans Pro;
  font-size: 24px;
  font-weight: 500;
  color: $c-primary-dark;

  position: absolute;
  left: 120px;
  top: 30px;
  text-transform: capitalize;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.btn-menu {
  position: absolute;
  right: 30px;
  top: 24px;
}

.btn-close {
  color: $c-primary-light;
}
