//// DISCOVER WORKSHOP & ARCHIVE CARD
.object-card {

  h1, h2, h3, h4, p {
    margin: 0px;
  }

  //min-width: 100vw;
  width:100%;
  min-height: 90vh;
  //--safe-area-inset-top: env(safe-area-inset-top);
  //--safe-area-inset-bottom: env(safe-area-inset-bottom);
  padding: 2vw; // 2vw calc(2vw + var(--safe-area-inset-bottom));


  position: absolute;
  left: 0;
  //bottom:0px;
  top: 10vh;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  background-color: $c-white-off;
  border-radius: 20px 20px 0px 0px;
  transition: all 0.3s ease;

  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */






  @media screen and (min-width: 651px) and (max-width: 991px)  {
    height: max-content;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    //min-height: 160vh;
    top:10vh;



  }

  @media screen and (max-width: 650px) {
    // min-height:140vh;
    height: max-content;
    width: 100%;
    background-color: $c-white-off;
    z-index: 200;
    position: absolute;
    //bottom:0px;
    top:0px;
    border-radius: 0px 0px 0px 0px;
    font-size: 0px;
    bottom: 0px !important;
    padding:0px;
    //padding: 0px 0px (1em + var(--safe-area-inset-bottom)) !important;


    @media screen and (min-aspect-ratio: 540/720) {
      height: 160vh;
    }

  }
}

.object-card::-webkit-scrollbar {
    display: none; /* for Chrome, Safari and Opera */
}



.object-mobile-heading {
  top:0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  padding: 24px;
  border-bottom: 1px solid #CFCFCF;
  z-index: 300;
  background-color: $c-white-off;
  box-shadow: 5px 10px 40px rgba(0, 0, 0, 0.2);
  height: 12vh;
}

.object-mobile-heading-preview {
  top:0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 24px;
  border-bottom: 1px solid #CFCFCF;
  z-index: 300;
  background-color: $c-white-off;
  box-shadow: 5px 10px 40px rgba(0, 0, 0, 0.2);
  height: 12vh;
}

.object-mobile-heading-subcontainer {
  width: calc(100% - 24vh);
    flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.object-mobile-title {
  font-family: $font-main;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 18px;
  color: #333333;
  margin: 0px;
}

.object-mobile-subtitle {
  font-family: $font-main;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #AEAEAE;
  margin:0px;
}

.object-card-archive {

  //min-width: 100vw;
  width:100%;
  height: 90vh;
  padding: 2vw;

  position: absolute;
  left: 0;
  //bottom:0px;
  top: 10vh;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  background-color: $c-white-off;
  border-radius: 20px 20px 0px 0px;
  transition: all 0.3s ease;

  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */


  @media screen and (min-width: 651px) and (max-width: 991px)  {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    min-height: 115vh;
    top:10vh;

    @media screen and (min-aspect-ratio: 1/1) {

      height: 180vw;
      justify-content: flex-start;

  }

  }

.object-card-archive::-webkit-scrollbar {
    display: none; /* for Chrome, Safari and Opera */
}

  @media screen and (max-width: 650px) {
    min-height:112vh;
    height: max-content;
    width: 100%;
    background-color: $c-white-off;
    z-index: 200;
    position: absolute;
    bottom:0px;
    top:0px;
    border-radius: 0px 0px 0px 0px;
    padding:0px;
    font-size: 0px;


  }



}



.object-slider-section {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  bottom:0px;

  @media screen and (min-width: 992px) {
    height: 45vw;
    width: 45vw;
  }
}

.object-slider-section-preview {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  bottom:0px;

  @media screen and (min-width: 992px) {
    height: 100%;
    width: 100%;
  }
}

.object-slider-section-tablet {
  position: relative;
  width: 92vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  //aspect-ratio: 1/1;
  margin-top: 16px;
  height:92vw;

  @media screen and (max-width: 650px) {
    width: 100vw;
    height: 100vw;
    padding: 0px;
    //margin: 0px;
    margin-top: 0px;
    font-size: 0px;

  }

}

.object-slider-section-tablet-preview {
  position: relative;
  width: 92vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  //aspect-ratio: 1/1;
  margin-top: 16px;
  height:92vw;

  @media screen and (max-width: 650px) {
    width: 100%;
    height: 100%;
    padding: 0px;
    //margin: 0px;
    margin-top: 0px;
    font-size: 0px;

  }

}

.object-name {
  font-family: $font-main;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 40px;
  color: $c-primary-dark;
}

.object-subtitle {
  font-family: $font-main;
  font-style: normal;
  font-weight: 350;
  font-size: 14px;
  line-height: 18px;
  color: $c-primary-dark;
}

.object-caption {
  margin-top: 0px;
  margin-bottom: 8px;
  font-family: $font-main;
  font-style: normal;
  font-weight: 350;
  font-size: 14px;
  line-height: 18px;
  color: $c-primary-dark;
  word-wrap:break-word;
  @media screen and (max-width: 650px) {
    color: $c-black;
  }
}



.objectSlider-img {
  border-radius: 0px;
  @media screen and (max-width: 650px) {
    margin:0px;
    padding: 0px;
    border-radius: 0px 0px 0px 0px;
  }

}

.popup-section::-webkit-scrollbar {
    display: none; /* for Chrome, Safari and Opera */
}

.popup-section {
  position: relative;
  //height: 100%;
  //width:45vw;
  //flex: 1 1 0;
  flex: 1;
  padding: 2vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-self: center;

  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */

  @media screen and (min-width: 651px) and (max-width: 991px) {
    @media screen and (min-aspect-ratio: 1/1) {
      justify-content: space-between;
    }
  }

  @media screen and (max-width: 650px) {
    padding:0px;
    justify-content: flex-start;
    font-size: 0px;
  }

}

.archival-card-section {
  justify-content: flex-end;
  row-gap: 24px;
}

.object-mobile-section {
  padding: 12px 24px;
  margin: 0px;
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}



.object-title-section {
  @media screen and (min-width: 651px) and (max-width: 991px) {
    height: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    @media screen and (min-aspect-ratio: 1/1) {
      padding-top: 2vw;
    }
  }


}

.object-text-section {
  height: 30%;
  text-align: left;
}

.object-map-section {
  //padding: 8px 0px;
  height: 35vh;
  @media screen and (min-width: 651px) and (max-width: 991px) {
    height: 40vh;
    padding-top: 4vh;
    @media screen and (min-aspect-ratio: 1/1) {
      height: 40vw;
      padding-top: 0;
    }
  }
  @media screen and (max-width: 650px) {
    height: 36vh;
  }
}



.object-suggestion-container {

  overflow: clip;
  width: 100%;
  position: relative;
  @media screen and (max-width: 991px) {
    height: 30vw;
    position: relative;
  }
  @media screen and (min-width:992px)  {
    height: 15vw;
  }
}

.object-mobile-close {
  position: absolute;
  top:0px;
  height: 12vh;
  padding: 24px;
  z-index: 400;
  width: 12vh;

}


.object-suggestion-section {
  width: 100%;
  position: relative;
  //height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media screen and (min-width: 651px) and (max-width: 991px) {
    //height: 20vh;
    margin-top: 5vh;

    @media screen and (min-aspect-ratio: 1/1) {
     // height: 30vw;
    }
  }

  @media screen and (max-width: 650px) {
    height: 25vh;
    padding-top: 0px;
  }


}

.object-suggestion-parent {
    position: absolute;
    //flex: 1 1;
    //min-height: 0px;
    //display: flex;
    //flex-direction: column;
    width: 100%;
    //bottom: 0px;
    height: 100%;
    //padding: 8px;


}

.object-img {
        display: inline-block;
        //height: 120px;
        //width: 120px;
        //margin-right: 10px;

        padding: 6px;
        object-fit: cover !important;
        box-shadow: 4px 4px 10px 2px rgba(51, 51, 51, 0.1);
        width: 30vw;
        height: 30vw;
        //aspect-ratio: 1/1;
  @media screen and (min-width: 992px) {
      width: 15vw;
      height: 15vw;
  }


  @media screen and (min-width: 650px) and (max-width:991px) {
    //width: 30vw;
    //height: 30vw;
    //padding: 0px;
  }

  @media screen and (max-width: 650px) {
    //padding: 0px;
    //width: 30vw;
    //height: 30vw;
  }
}


.miniMap {

  position: relative;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;

  border-radius: 10px;
  box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.2);
}

.miniMap-container {
  height: 90%;
}






