.filterCard {
  background-color: $c-white-off;
  border-radius: 5px;
  position: fixed;
  padding: 24px;
  height: 70%;
  width: 30%;
  bottom: 20%;
  left: 4%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.2);
  z-index: 10;


  @media screen and (min-width: 688px) and (max-width: 991px) {
    width: 50%;
    height: 50%;
  }

  @media screen and (max-width: 688px) {
    border-radius: 0px;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 70%;
    z-index: 3;


  }
}






.toggle-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.reset-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 8px;
  width: 100%;

}

.reset-btn :focus {
  outline: none;
}
.reset-btn {
  border: none;
  background-color: Transparent;
  font-weight: bolder;
}

