.mapCard {
  background-color: $c-white-off;
  border-radius: 10px 10px;
  position: fixed;
  padding: 24px;
  height: 85%;
  width: 30%;
  right: 4%;
  display: flex;
  flex-direction: column;
  row-gap: 16px;

  @media screen and (max-width: 688px) {
      border-radius: 10px 10px 0px 0px;
      bottom: 0px;
      left: 0px;
      width: 100%;
      height: 90%;


    }


}


.mapCard-slider-container {
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}




.exploreContainer {
  position: relative;
  flex: 1;
  min-height: 0px;
  display: flex;
  flex-direction: column;;
}

exploreShops-div {
  padding: 0px;
  margin: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.exploreShop-name {
  display: flex;
  flex-direction: row;
  justify-content: center;
}



.exploreShop-div {

  position: relative;
    width: 20%;
    height: 0;
    padding-bottom: 20%;

  //width: 33%;
  margin: 0px;
  //padding: 0px;
}

.exploreShops-img {
  padding: 4px;
  object-fit: cover;

  width: 30%;
  height: 100%;

  border-radius: 10px;

}

