@tailwind base;
@tailwind components;
@tailwind utilities;

// === SETUP ===
@import 'setup/normalize';
@import 'setup/typography';
@import 'setup/variables';

// === BASICS ===
@import 'basics/button';
@import 'basics/card';
@import 'basics/effects';
@import 'basics/input';
@import 'basics/link';
@import 'basics/slider';

// === COMPONENTS ===
@import 'layout/layout';

@import 'components/nav';
@import 'components/titleCard';

@import 'components/imageUploadForm';
@import 'components/multipageForm';
@import 'components/locationForm';

// === PAGES ===
@import 'pages/index';
@import 'pages/contribute';
@import 'pages/discover.scss';

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::selection {
  color: $c-white;
  background-color: $c-primary-dark;
}

html,
body,
textarea,
select,
input,
button {
  font-family: $font-main;
  line-height: 100%;
  color: $c-black;
}

html {
  overflow-x: hidden;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
